# Gradle
.gradle/
build/
local.properties
.gradle_dist/
.jdk17/
.kotlin/

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Android Studio
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
*.class

# Keystores
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db